.photo{
    width: 200px;
    height: auto;
    border-radius: 15px;
    width: 25%;
}
.horizontal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.8em;
    color: darkslateblue;
    line-height: 1.5;
}

body{
    background-color: beige;
}